.App {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.search-form {
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn-search {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-top: 10px;
  margin-left: 5px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.m-1 {
  margin: 1rem;
}
:root {
  --primary-color: #4c8aed;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}
.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
